<html>
<head>
    <title>Release note {{version}}</title>
    <style type="text/css">
        {{file:templates/github.css}}
    </style>
    <style type="text/css">
        {{file:templates/styles.css}}
    </style>
</head>
<body class="markdown-body">

<div>
    <img src="{{img:images/dinap_logo.png}}" alt="dinap_logo" class="dinapLogo" />
</div>

<h1 class="title">Release note DinapRelNote</h1>
<div class="version">v{{version}}</div>
<div class="date">{{date}}</div>

<h1 class="markdown-body">Table of contents</h1>
